<mat-card class="example-card" fxLayout="column">

  <mat-card-title>
    {{this.item.name}} {{this.item.unitaryWeight}} {{this.item.weightType}}</mat-card-title>
  <mat-card-subtitle>{{this.item.brand}}</mat-card-subtitle>

  <mat-card-content>

    <img mat-card-image (click)='this.openDetailsDialog()' [src]=this.item.pictureUrl>

    <h1 *ngIf="this.cart.quantityOfItem(this.item) == 0">{{this.item.unitaryPrice | currency:'EUR'}}</h1>

    <h1 *ngIf="this.cart.quantityOfItem(this.item) > 0" matTooltipPosition="before" matTooltip="{{this.cart.quantityOfItem(this.item)}} * {{this.item.unitaryPrice| currency:'EUR'}} =
          {{ this.cart.priceOf(item) | currency:'EUR'}}">
      {{this.item.unitaryPrice | currency:'EUR'}}
    </h1>

  </mat-card-content>

  <mat-card-actions>

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <button matTooltipPosition='above' *ngIf="this.cart.quantityOfItem(this.item) >= this.item.stock" color="warn"
        disabled mat-icon-button>
        <mat-icon matTooltip='Maximum stock reached'>
          add_shopping_cart
        </mat-icon>
      </button>

      <button *ngIf="this.cart.quantityOfItem(this.item) < this.item.stock" color="warn" (click)="this.addToCart()"
        mat-icon-button>
        <mat-icon>
          add_shopping_cart
        </mat-icon>
      </button>

      <span class="text" *ngIf="this.cart.quantityOfItem(item) > 0"> {{this.cart.quantityOfItem(item)}} </span>

      <button *ngIf="this.cart.quantityOfItem(item) > 0" (click)="this.removeFromCart()" mat-icon-button>
        <mat-icon color="primary">
          remove
        </mat-icon>
      </button>

    </div>

  </mat-card-actions>

</mat-card>