<mat-card class="example-card" fxLayout="column">

  <mat-card-title>{{this.item.name}} {{this.item.unitaryWeight}} {{this.item.weightType}}</mat-card-title>
  <mat-card-subtitle>{{this.item.brand}}</mat-card-subtitle>

  <mat-card-content>

    <img [src]=this.item.pictureUrl>

    <h1 flFlex *ngIf="this.quantity == 0">{{this.item.unitaryPrice | currency:'EUR'}}</h1>

    <h1 flFlex *ngIf="this.quantity > 0" matTooltipPosition="before" matTooltip="{{this.quantity}} * {{this.item.unitaryPrice| currency:'EUR'}} =
          {{ this.quantity * this.item.unitaryPrice | currency:'EUR'}}">
      {{this.item.unitaryPrice | currency:'EUR'}}
    </h1>

  </mat-card-content>

  <mat-card-actions>

    <div fxLayout="row">

      <div class="quantifier">

        <button (click)="this.addToCart()" mat-icon-button>
          <mat-icon color="warn">
            add_shopping_cart
          </mat-icon>
        </button>

        <button style disabled mat-icon-button *ngIf="this.quantity > 0">{{this.quantity}}</button>

        <button *ngIf="this.quantity > 0" (click)="this.removeFromCart()" mat-icon-button>
          <mat-icon color="primary">
            remove
          </mat-icon>
        </button>

      </div>

    </div>

  </mat-card-actions>

</mat-card>