<mat-card class="example-card">

  <mat-card-header>
    <mat-card-title>{{this.item.name}} {{this.item.unitaryWeight}} {{this.item.weightType}}</mat-card-title>
    <mat-card-subtitle>{{this.item.brand}}</mat-card-subtitle>
  </mat-card-header>
  
  <img [src]=this.item.pictureUrl width="100" height="125">

  <mat-card-content class="merda2">

    <mat-list class="list-horizontal">
      <div mat-list-item>

        <p *ngIf="this.quantity == 0">{{this.item.unitaryPrice | currency:'EUR'}}</p>

        <p *ngIf="this.quantity > 0" matTooltipPosition="before" matTooltip="{{this.quantity}} * {{this.item.unitaryPrice| currency:'EUR'}} =
          {{ this.quantity * this.item.unitaryPrice | currency:'EUR'}}">
          {{this.item.unitaryPrice | currency:'EUR'}}
        </p>

      </div>

    </mat-list>

  </mat-card-content>

  <mat-card-actions>
    <button (click)="this.addToCart()" mat-button>+</button>
    <button *ngIf="this.quantity > 0" mat-button>{{this.quantity}}</button>
    <button *ngIf="this.quantity > 0" (click)="this.removeFromCart()" mat-button>-</button>
  </mat-card-actions>

  <mat-card-footer>
  </mat-card-footer>

</mat-card>