mat-card img {
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 60%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 50%;
    cursor: pointer;
}

mat-card:hover {
    transform: scale(1.01);
}

mat-card {
    margin-bottom: 10px;

    min-width: 10vw;
    min-height: 10vh;
    
    border: 1px dotted grey;
}

mat-card title {
    max-height: 10vh !important;
    min-height: 10vh !important;
}

.mat-icon {
    font-size: 250%;
}

.mat-icon-button[disabled] {
    font-size: 150%;
}