mat-card img {
    cursor: pointer;
}

mat-card:hover {
    transform: scale(1.01);
}

mat-card {
    margin-bottom: 10px;

    min-width: 15vw;
    min-height: 15vh;
    
    border: 1px dotted grey;
}

.mat-icon {
    font-size: 350%;
}

.text {
    font-size: 250%;
}