<section class="cont" fxLayout="row" fxLayoutGap="20px">

  <section fxLayout="column" fxLayoutGap="20px">

    <section class="brand">
      <h2>Brand: </h2>
      <app-filter-by-brand></app-filter-by-brand>
    </section>

    <section class="filter">
      <h2>Type: </h2>
      <app-filter-by-type></app-filter-by-type>
    </section>
  </section>

  <section class="iv" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" ngClass.gt-xs="ml-10">

    <div class="no-found" *ngIf="items.length == 0">
      No results for '<span>{{searched}}</span>'. Maybe you could try one of the following:
      <ul>
        <li>Check for typos</li>
        <li>Broaden search and/or filters on brand/type</li>
        <li>It's possible to search for:</li>
        <ul>
          <li>Brand</li>
          <li>Category</li>
          <li>Product Name</li>
          <li>Product Id</li>
        </ul>
      </ul>
    </div>

    <ng-container *ngFor="let item of items">
      <app-item fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
        [item]=item></app-item>
    </ng-container>

  </section>

</section>